<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nngdjt.test.mapper.ResultMapper" >
  <resultMap id="BaseResultMap" type="com.nngdjt.test.entity.Result" >
    <id column="REC_ID" property="recId" jdbcType="VARCHAR" />
    <result column="SYS_CDE" property="sysCde" jdbcType="VARCHAR" />
    <result column="RESULT" property="result" jdbcType="VARCHAR" />
    <result column="CRE_DTE" property="creDte" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    REC_ID, SYS_CDE, RESULT, CRE_DTE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.nngdjt.test.entity.ResultExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from result
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from result
    where REC_ID = #{recId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from result
    where REC_ID = #{recId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.nngdjt.test.entity.ResultExample" >
    delete from result
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.nngdjt.test.entity.Result" >
    insert into result (REC_ID, SYS_CDE, RESULT, 
      CRE_DTE)
    values (#{recId,jdbcType=VARCHAR}, #{sysCde,jdbcType=VARCHAR}, #{result,jdbcType=VARCHAR}, 
      #{creDte,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.nngdjt.test.entity.Result" >
    insert into result
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recId != null" >
        REC_ID,
      </if>
      <if test="sysCde != null" >
        SYS_CDE,
      </if>
      <if test="result != null" >
        RESULT,
      </if>
      <if test="creDte != null" >
        CRE_DTE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recId != null" >
        #{recId,jdbcType=VARCHAR},
      </if>
      <if test="sysCde != null" >
        #{sysCde,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        #{result,jdbcType=VARCHAR},
      </if>
      <if test="creDte != null" >
        #{creDte,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.nngdjt.test.entity.ResultExample" resultType="java.lang.Integer" >
    select count(*) from result
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update result
    <set >
      <if test="record.recId != null" >
        REC_ID = #{record.recId,jdbcType=VARCHAR},
      </if>
      <if test="record.sysCde != null" >
        SYS_CDE = #{record.sysCde,jdbcType=VARCHAR},
      </if>
      <if test="record.result != null" >
        RESULT = #{record.result,jdbcType=VARCHAR},
      </if>
      <if test="record.creDte != null" >
        CRE_DTE = #{record.creDte,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update result
    set REC_ID = #{record.recId,jdbcType=VARCHAR},
      SYS_CDE = #{record.sysCde,jdbcType=VARCHAR},
      RESULT = #{record.result,jdbcType=VARCHAR},
      CRE_DTE = #{record.creDte,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.nngdjt.test.entity.Result" >
    update result
    <set >
      <if test="sysCde != null" >
        SYS_CDE = #{sysCde,jdbcType=VARCHAR},
      </if>
      <if test="result != null" >
        RESULT = #{result,jdbcType=VARCHAR},
      </if>
      <if test="creDte != null" >
        CRE_DTE = #{creDte,jdbcType=VARCHAR},
      </if>
    </set>
    where REC_ID = #{recId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nngdjt.test.entity.Result" >
    update result
    set SYS_CDE = #{sysCde,jdbcType=VARCHAR},
      RESULT = #{result,jdbcType=VARCHAR},
      CRE_DTE = #{creDte,jdbcType=VARCHAR}
    where REC_ID = #{recId,jdbcType=VARCHAR}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.nngdjt.test.entity.ResultExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from result
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>